.ddddddddd {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100%;
  display: flex;
flex-direction: row;
}


.ddddddddd .first-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
/* .ddddddddd .submainContainerrd .secondd-div {
  flex: 1;
  border: 1px solid black;
}
.logoText {
  font-size: 40px;
}
.introtext {
  font-size: 20px;
}

.createaccountTxts {
  font-size: 20px;
}

.inputTextx {
  width: 200px;
  height: 30px;
  border: none;
  background-color: inherit;
  border-radius: 10px;
}
.inputContainerttt{
    display: flex;
    background-color: #28353e;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
}
.btnforsignup {
  border-radius: 10px;
  cursor: pointer;
}
.part {
  color: rgb(167, 127, 127);
} */
