.mainContainerForsignup{
          background-color: #05141c;
          height: 100vh;
          width: 100%;
}

.submainContainer{
          display: flex;
          height: 100%;

          align-items: center;
}

.logoText{
          font-size: 40px;
}
.introtext{
          font-size: 20px;
}

.createaccountTxt{
          font-size: 40px;
          font-weight: 600;
          font-style: italic;
          color: #fff;
}

.inputText{
          display: flex;
          border: none;
          width: 300px;
          height: 31px;
          font-size: 16px;
          font-weight: 400;
          color: #a19c9c;
          outline: none;
          background-color:  #28353e;
}

.signupInputContainer{
    display: flex;
    gap: 5px;
    width: 400px;
    background-color:  #28353e;
    align-items: center;
    padding: 3px 9px;
    border-radius: 10px;
}
.signupInputContainer label{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.btnforsignup{
          border-radius: 10px;
          cursor: pointer;
          background-color: #28353e;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
}
.btnforsignup:hover{
    background-color: #1a2024 ;
}
.part{
          color: rgb(167, 127, 127);
}