.PostContaineraa{
    width: 90%;
    height: auto;
    border-radius: 10px;
} 

.SubPostContainer{
    padding: 20px;
    border-radius: 20px;
    background-color: #28353e;
    background: #28353e;
}

.post-caption-profile{
    display: flex;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    width: auto;
    flex-wrap: wrap;
}
.profilepost-post{
  padding: 5px 18px;
}

.PostImagez{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.PostImages{
    width: 600px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.iconsforPost{
          width: 20px;
          
}

.moreicons{
          width: 20px;
}

.commentinput{
          width: 24pc;
          border: none;

}
/* .addCommentbtn{
          padding: 9px;
          border: none;
          background-color: black;
          color: white;
          border-radius: 6px;
          margin-left: 39px;
          cursor: pointer;
          padding-left: 40px;
          padding-right: 40px;
} */