.ProfileLeftbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin-top: 20px;
}

.NotificationsContainer {
  width: 16pc;
  height: auto;
  background-color: #28353e;
  background: #28353e;
  border-radius: 20px;
  line-height: 5px;
  /* overflow: hidden;
  overflow-y: scroll; */
}
.NotificationsContainer h4{
    color: #fff;
    font-style: italic;
 }

.Profilepageimage {
  width: 140px;
  border-radius: 10px;
  height: 110px;
  object-fit: cover;
}
.ProfilepageCover {
  width: 270px;
  height: 100px;
  object-fit: cover;
}

.friendimage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}
