.ProfileContainer{
    background-color: #05141c;
    background: rgb(5,20,28);

}

.subProfileContainer{
          width: 80%;
          margin: auto;
          display: flex;
          justify-content: space-between;
}