.home{    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #05141c;
    background: rgb(5,20,28);
}

.ComponentContainer{
          width: 85%;
          margin: auto;
          display: flex;
          justify-content: space-between;
}