.ProfilemainPostContainer{
    flex: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.profileCoverimage{
          width: 92%;
          border-radius: 10px;
          height: 20vh;
          object-fit: cover;
          margin-top: 20px;
}